*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/misc.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.kotlin/
.idea/deviceManager.xml
local.properties
/app/google-services.json
app/src/main/assets/sapicare-70ec1-firebase-adminsdk-fbsvc-b5323a933a.json
